@use "@styles/globals.module.scss";

.passwordReset {
    max-width: 512px;
    margin: auto;
    > span {
        margin-bottom: globals.$padding;
    }
    button {
        width: 100%;
    }
}