@use "@styles/globals.module.scss";

.profileEditor {
    margin-right: var(--padding);
    position: relative;
    max-width: 768px;
    > div > div {
        margin-bottom: var(--padding);
    }

    .refreshButton {
        position: absolute;
        width: auto;
        right: 0;
        top: 0;
    }

    .nameEdit {
        input {
            width: 25%;
        }
    };
    button {
        width: 100%;
    }
}