@use "@styles/globals.module.scss";

.userName {
    @media (max-width: 768px) {
        display: none;
    }
}

.accountMenu {
    ul {
        border: solid 4px var(--borderColor);
    }
}

.accountMenuButton {
    background-color: transparent;
    border: none !important;
}