@use "@styles/globals.module.scss";

$loginformWidth: 378px;

.loginForm {
    position: fixed;
    border: solid 2px var(--loginFormBorder, var(--borderColor, var(--border, black)));
    width: $loginformWidth;
    max-width: calc(100% - 64px);
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
    border-radius: var(--loginFormBorderRadius, var(--borderRadiusLarge, var(--borderRadius, 16px)));
    color:  var(--loginFormColor, var(--secondaryColor, var(--secondary, black))) !important;
    @media (max-width: 600px) {
        top: 16px;
    }
    &.inline {
        margin: 0;
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
    .header {
        text-align: center;
        background-color: var(--loginFormHeaderBgColor, var(--bgLightColor, var(--bgLight, white)));
        font-weight: bold;
        position: relative;
        padding: var(--loginFormHeaderPadding, var(--paddingSmall, var(--padding, 8px)));
        img {
            height: 24px;
            position: absolute;
            top: 6px;
            left:16px;
        }
        svg {
            position: absolute;
            top: 8px;
            right: 16px;
            cursor: pointer;
        }
    }
    .form {
        padding:
            var(--loginFormFormPadding, var(--paddingSmall, var(--padding, 8px)))
            var(--loginFormFormPadding, var(--paddingSmall, var(--padding, 8px)))
            0
            var(--loginFormFormPadding, var(--paddingSmall, var(--padding, 8px)));
        background-color: var(--loginFormFormBgColor, var(--bgColor, var(--bg, white)));
        > :global(.ant-input-group-wrapper) {
            display: block;
            margin: 0 0 var(--loginFormFormPadding, var(--paddingSmall, var(--padding, 8px))) 0;
            color: var(--loginFormColor, var(--primaryColor, var(--primary, black)));
            border-color: var(--loginFormBorder, var(--borderColor, var(--border, black)));
            :global(.ant-input-group-addon), :global(.ant-input-suffix) {
                background-color: var(--loginFormFormBgColor, var(--bgColor, var(--bg, white)));
                border-color: var(--loginFormBorder, var(--borderColor, var(--border, black)));
                * {
                    color: var(--loginFormColor, var(--primaryColor, var(--primary, black))) !important;
                }
            }
            :global(.ant-input-wrapper), :global(.ant-input-affix-wrapper) {
                background-color: var(--loginFormFormBgColor, var(--bgColor, var(--bg, white)));
                border-color: var(--loginFormBorder, var(--borderColor, var(--border, black)));
                color: var(--loginFormColor, var(--primaryColor, var(--primary, black)));
                input {
                    background-color: var(--loginFormFormBgColor, var(--bgColor, var(--bg, white)));
                    border-color: var(--loginFormBorder, var(--borderColor, var(--border, black)));
                    color: var(--loginFormColor, var(--primaryColor, var(--primary, black)));
                }
            }
        }
        .links {
            text-align: center;
            > div {
                margin: 0;
                padding: var(--loginFormFormPadding, var(--paddingSmall, var(--padding, 8px))) 0;
                button {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
    .footer {
        background-color: var(--loginFormFooterBgColor, var(--bgLightColor, var(--bgLight, white)));
        font-weight: bold;
        text-align: center;
        padding: var(--loginFormFooterPadding, var(--paddingSmall, var(--padding, 8px)));
    }
}
