@use "@styles/globals.module.scss";

$loginformWidth: 378px;

.loginForm {
    position: fixed;
    border: solid 2px var(--borderColor);
    width: $loginformWidth;
    max-width: calc(100% - 64px);
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
    border-radius: globals.$border-radius-lg;
    color:  var(--secondaryColor);
    @media (max-width: 600px) {
        top: 16px;
    }
    &.inline {
        margin: 0;
        position: relative;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
    .header {
        text-align: center;
        background-color: var(--bgLightColor);
        border-top-left-radius: globals.$border-radius-lg;
        border-top-right-radius: globals.$border-radius-lg;
        font-weight: bold;
        position: relative;
        padding: globals.$padding-sm;
        img {
            width: 24px;
            position: absolute;
            top: 6px;
            left:16px;
        }
        svg {
            position: absolute;
            top: 8px;
            right: 16px;
            cursor: pointer;
        }
    }
    .form {
        padding: globals.$padding-sm globals.$padding 0 globals.$padding;
        background-color: var(--bgColor);
        > :global(.ant-input-group-wrapper) {
            display: block;
            margin: 0 0 globals.$padding-sm 0;
        }
        .links {
            text-align: center;
            > div {
                margin: 0;
                padding: globals.$padding 0;
                button {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
    .footer {
        background-color: var(--bgLightColor);
        border-bottom-left-radius: globals.$border-radius-lg;
        border-bottom-right-radius: globals.$border-radius-lg;
        font-weight: bold;
        text-align: center;
        padding: globals.$padding-sm;
    }
}
